{% extends 'base/base.html' %}
{% block titulo %} New Password {% endblock %}

{% block contenido %}
<div class="login-page">  
  <div class="form">
    <h1 class="login">New password</h1>
    <form class="login-form mt-2" action="/recuper-password/{{newpaswd}}" method="POST">
      <input type="password" name="password1" value="{{password1}}" placeholder="New password" />
      <!-- <input type="password" name="password2" placeholder="Repit password" /> -->
      
     
      <button type="submit">Guardar</button>
      <p class="message">Already registered? <a href="/">Sign In</a></p> 
      <div class="mt-4">
        {% with messages1 = get_flashed_messages()%}
        {% if messages1 %}
        <ul class="alert alert-danger">
          {% for message1 in messages1%}
         <li>  {{message1}}</li>
          {% endfor%}
        </ul>
        {% endif%}
        {% endwith %}
      </div>
    
     
      
    </form>
  </div>
</div>
{% endblock %}


